In [2]:
import numpy as np 
import pandas as pd

In [10]:
mean = np.mean
std = np.std
minimum= np.minimum
maximum = np.maximum

In [11]:
# Add the missing function references to the function map
function_map = {
  'mean': mean,
  'std': std,
  'minimum': minimum,
  'maximum': maximum
}

data = load_data()
print(data)

func_name = get_user_input()

# Call the chosen function and pass "data" as an argument
function_map[func_name](data)

NameError: name 'load_data' is not defined

In [5]:
np.mean

# Scope

In [12]:
call_count = 0

def my_function():
  # Use a keyword that lets us update call_count 
  global call_count
  call_count += 1
  
  print("You've called my_function() {} times!".format(
    call_count
  ))
  
for _ in range(20):
  my_function()

You've called my_function() 1 times!
You've called my_function() 2 times!
You've called my_function() 3 times!
You've called my_function() 4 times!
You've called my_function() 5 times!
You've called my_function() 6 times!
You've called my_function() 7 times!
You've called my_function() 8 times!
You've called my_function() 9 times!
You've called my_function() 10 times!
You've called my_function() 11 times!
You've called my_function() 12 times!
You've called my_function() 13 times!
You've called my_function() 14 times!
You've called my_function() 15 times!
You've called my_function() 16 times!
You've called my_function() 17 times!
You've called my_function() 18 times!
You've called my_function() 19 times!
You've called my_function() 20 times!

In [13]:
it = 'testing'

In [16]:
def test_func():
    global it #global variables are objects already assumed to equal each other
    print(it)

In [17]:
test_func()

testing

In [18]:
begin = 0

In [21]:
def add_stuff():
    global begin 
    begin+=1
    
    print("Sum is {}".format(begin))

In [22]:
add_stuff()

Sum is 1

In [23]:
add_stuff()

Sum is 2

In [24]:
for i in range(20):
    add_stuff()

Sum is 3
Sum is 4
Sum is 5
Sum is 6
Sum is 7
Sum is 8
Sum is 9
Sum is 10
Sum is 11
Sum is 12
Sum is 13
Sum is 14
Sum is 15
Sum is 16
Sum is 17
Sum is 18
Sum is 19
Sum is 20
Sum is 21
Sum is 22

In [25]:
def read_files():
  file_contents = None
  
  def save_contents(filename):
    # Add a keyword that lets us modify file_contents
    nonlocal file_contents # What is nonlocal? 
    if file_contents is None:
      file_contents = []
    with open(filename) as fin:
      file_contents.append(fin.read())
      
  for filename in ['1984.txt', 'MobyDick.txt', 'CatsEye.txt']:
    save_contents(filename)
    
  return file_contents

print('\n'.join(read_files()))

FileNotFoundError: [Errno 2] No such file or directory: '1984.txt'

In [ ]:
def wait_until_done():
  def check_is_done():
    # Add a keyword so that wait_until_done() 
    # doesn't run forever
    global done
    if random.random() < 0.1:
      done = True
      
  while not done:
    check_is_done()

done = False
wait_until_done()

print('Work done? {}'.format(done))

# Closures

In [26]:
def return_a_func(arg1, arg2):
  def new_func():
    print('arg1 was {}'.format(arg1))
    print('arg2 was {}'.format(arg2))
  return new_func

In [27]:
    
my_func = return_a_func(2, 17)

# Show that my_func()'s closure is not None
print(my_func.__closure__ is not None)

True

In [28]:


# Show that there are two variables in the closure
print(len(my_func.__closure__) == 2)

True

In [29]:
my_func = return_a_func(2, 17)

print(my_func.__closure__ is not None)
print(len(my_func.__closure__) == 2)

# Get the values of the variables in the closure
closure_values = [
  my_func.__closure__[i].cell_contents for i in range(2)
]
print(closure_values == [2, 17])

True
True
True

In [32]:
my_func.__closure__[0].cell_contents

2

# Decorators

Decorators function as a method within a method. One method is used as a input for another method.

In [1]:
def print_before_and_after(func):
  def wrapper(*args):
    print('Before {}'.format(func.__name__))
    # Call the function being decorated with *args
    func(*args)
  # Return the nested function
  return wrapper

@print_before_and_after
def multiply(a, b):
  print(a * b)

multiply(5, 10)

Before multiply
50
After multiply

In [10]:
def my_timer(orig_func):
    import time #you can import within an environment 
    
    def wrapper(*args, **kwargs):
        t1 = time.time()
        result = orig_func(*args, **kwargs) #unpack orginal function 
        t2 = time.time()-1
        print('{} ran in: {} sec'.format(orig_func.__name__, t2))
        return result 
    return wrapper

In [11]:
@my_timer #this is the decorator 
def display_info(name,age):
    print('display info ran with arguments ({},{})'.format(name,age))

In [12]:
display_info('Rob', 12)

display info ran with arguments (Rob,12)
display_info ran in: 1622905174.9380887 sec

In [15]:
def uppercase_decorator(function):
    def wrapper():
        func = function()
        make_uppercase = func.upper()
        return make_uppercase

    return wrapper

In [16]:
def split_string(function):
    def wrapper():
        func = function()
        splitted_string = func.split()
        return splitted_string

    return wrapper

In [17]:
@split_string
@uppercase_decorator 
def say_hi():
    return 'hello there'
say_hi()

['HELLO', 'THERE']

Double decorator. The say_hi decorator is used as a imput into the first function split_string, then the output of the first function is used as an imput into the second function, uppercase_decorator

## Closure

In [22]:
def say_yo():
    return 'yo ma bitch'
say_hi()

['HELLO', 'THERE']

In [23]:
decorate = uppercase_decorator(say_yo)
decorate()

'YO MA BITCH'

# Examples in Data Science

In [24]:
import pandas as pd
import numpy as np

# Set seed
np.random.seed(520)

# Create a dataframe
df = pd.DataFrame({
    'name': ['Ted'] * 3 + ['Lisa'] * 3 + ['Sam'] * 3,
    'subject': ['math', 'physics', 'history'] * 3,
    'score': np.random.randint(60, 100, 9)
})

In [25]:
df

   name  subject  score
0   Ted     math     87
1   Ted  physics     80
2   Ted  history     75
3  Lisa     math     79
4  Lisa  physics     78
5  Lisa  history     77
6   Sam     math     85
7   Sam  physics     61
8   Sam  history     88

In [26]:
def get_subject_rank(input_df):
    # Avoid overwrite the original dataframe
    input_df = input_df.copy()
    input_df['subject_rank'] = (input_df
                                .groupby(['subject'])['score']
                                .rank(ascending=False))
    return input_df

# pipe method
df.pipe(get_subject_rank)

   name  subject  score  subject_rank
0   Ted     math     87           1.0
1   Ted  physics     80           1.0
2   Ted  history     75           3.0
3  Lisa     math     79           3.0
4  Lisa  physics     78           2.0
5  Lisa  history     77           2.0
6   Sam     math     85           2.0
7   Sam  physics     61           3.0
8   Sam  history     88           1.0

In [27]:
def get_subject_rank(input_df, df_or_not=True):
    # Avoid overwrite the original dataframe
    input_df = input_df.copy()
    if df_or_not is True:
        input_df['subject_rank'] = (input_df
                                    .groupby(['subject'])['score']
                                    .rank(ascending=False))
        return input_df
    else:
        output_series = (input_df
                         .groupby(['subject'])['score']
                         .rank(ascending=False))
        return output_series

# pipe method - return arbitary output
df.pipe(get_subject_rank, df_or_not = False)

0    1.0
1    1.0
2    3.0
3    3.0
4    2.0
5    2.0
6    2.0
7    3.0
8    1.0
Name: score, dtype: float64

In [28]:
def add_score(input_df, added_score):
    # Avoid overwrite the original dataframe
    input_df = input_df.copy()
    input_df = input_df.assign(new_score=lambda x: x.score+added_score)
    return input_df

df.pipe(add_score, 2)

   name  subject  score  new_score
0   Ted     math     87         89
1   Ted  physics     80         82
2   Ted  history     75         77
3  Lisa     math     79         81
4  Lisa  physics     78         80
5  Lisa  history     77         79
6   Sam     math     85         87
7   Sam  physics     61         63
8   Sam  history     88         90

In [29]:
def add_score(added_score, input_df):
    # Avoid overwrite the original dataframe
    input_df = input_df.copy()
    input_df = input_df.assign(new_score=lambda x: x.score+added_score)
    return input_df

df.pipe((add_score, "input_df"), 2)

   name  subject  score  new_score
0   Ted     math     87         89
1   Ted  physics     80         82
2   Ted  history     75         77
3  Lisa     math     79         81
4  Lisa  physics     78         80
5  Lisa  history     77         79
6   Sam     math     85         87
7   Sam  physics     61         63
8   Sam  history     88         90

## Example 2

In [35]:
from functools import wraps
import logging

In [36]:
def log_shape(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        logging.info("%s,%s" % (func.__name__, result.shape))
        return result
    return wrapper

In [37]:
def log_columns(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        logging.info("%s,%s" % (func.__name__, result.columns))
        return result
    return wrapper

In [38]:
@log_columns
@log_shape
def get_subject_rank(input_df):
    input_df = input_df.copy()
    input_df['subject_rank'] = (input_df
                                .groupby(['subject'])['score']
                                .rank(ascending=False))
    return input_df

In [39]:
@log_columns
@log_shape
def add_score(input_df, added_score):
    input_df = input_df.copy()
    input_df = input_df.assign(new_score=lambda x: x.score+added_score)
    return input_df

(
    df.pipe(get_subject_rank)
      .pipe(add_score, 2)
)

   name  subject  score  subject_rank  new_score
0   Ted     math     87           1.0         89
1   Ted  physics     80           1.0         82
2   Ted  history     75           3.0         77
3  Lisa     math     79           3.0         81
4  Lisa  physics     78           2.0         80
5  Lisa  history     77           2.0         79
6   Sam     math     85           2.0         87
7   Sam  physics     61           3.0         63
8   Sam  history     88           1.0         90